#container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#top-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

/* A media query so that this'll look nice on small screen sizes as well */
@media only screen and (max-width: 860px) {
    .informationContainer {
        display: none;
    }

    input {
        margin: 2rem;
    }
}
