.container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

.activity {
    background-color: #f2edd7;
    padding: 1rem;
    border-radius: 0.5rem;
}

.button {
    align-self: flex-end;
    background-color: #a0937d;
    color: white;
    margin-top: 1rem;
}

.button:hover {
    opacity: 0.6;
}
