* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#search-box {
    margin-top: 1rem;
}

#search-input {
    width: 20rem;
    padding: 0.2rem;
    margin-right: 1rem;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    margin-top: 1rem;
    width: 8rem;
}
