.container {
    margin-bottom: 1rem;
}

.container input {
    background-color: var(--light-green);
    width: 20rem;
    font-size: 1.4rem;
    border: none;
    padding: 0.2rem;
}

.container textarea {
    background-color: var(--light-green);
    width: 30rem;
    height: 10rem;
    font-size: 1.4rem;
    border: none;
    padding: 0.2rem;
}

.label {
    font-size: 1.4rem;
    font-weight: bold;
}

.error {
    color: rgb(179, 8, 8);
    font-weight: bold;
    font-size: 1.2rem;
}
